# Convex deployment URL (automatically set when running `npx convex dev`)
VITE_CONVEX_URL=https://your-deployment-name.convex.cloud

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:-----------------

VITE_CONVEX_SITE_URL=https://your-deployment-name.convex.site
